/* Reset Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utility */

img{
    width: 427px;
    height: 616px;
}

.container{
    width: 1500px;
    text-align: center;
    margin: 2rem auto ;
}

.card{
    position: relative;
    display: inline-block;
    margin: 0 0.5rem;
}

.box{
    display: inline-block;
    color: white;
    padding: 6px;
}

.c_red{
    color: red;
}

.img_hidden{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.card:hover .img_hidden{
    visibility: visible;
}

.bg_white{
    background-color: white;
    
}

.badge{
    position: absolute;
    bottom: 85px;
    left: 0;
}

.bg_red{
    background-color: red;
}

.bg_green{
    background-color: green;
}

/* specific classes */

.heart{
    padding: 8px 18px;
    background-color: white;
    font-size: 2rem;
    position: absolute;
    top: 30px;
    right: 0;
}
ul{
    list-style: none;
    text-align: left;
    font-size: 18px;
}
.prezzopieno{
    text-decoration: line-through;
    color: black;
}